<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Enter Serial Port & Baudrate</h1>
    <form action="/submit" method="POST" enctype="multipart/form-data">
    SerialPort : <input type="text" name="serialport">
    Baudrate : <input type="text" name="baudrate">
    <button type="submit">Submit</button>
    </form>
    <br><br>
    {% if lst %}
        <h3>Data Read for 6 seconds</h3>
        {% for l in lst %}
            {{ l }} <br>
        {% endfor %}
    {% endif %}
</body>
</html>